* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* common css style */
.btn_common {
  height: 55px;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  color: blue;
  font-weight: 600;
}

/* header area style */

header {
  background-image: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header_text {
  text-align: right;
  padding: 200px 140px 68px 653px;
}
.header_slogan {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 65px;
  text-align: right;
  color: #fff;
  margin-bottom: 20px;
}
.header_description {
  color: #fff;
  margin-bottom: 30px;
}

/* main area style */
main {
  max-width: 1072px;
  margin: auto;
}

/* belief section style */
.belief {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 90px 38px;
}
.motivation {
  padding-top: 180px;
}
.motiva_text {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 20px;
}
.descrip_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 20px;
}
.motivation ul li {
  list-style: none;
  margin-bottom: 15px;
}
.motivation ul li i {
  color: #16d887;
}
/* my plan section style */
.my_plan {
  text-align: center;
  padding: 80px 0;
}
.plan_title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.all_plans {
  display: flex;
  justify-content: space-around;
}

.all_plans h3 {
  font-size: 22px;
  line-height: 35px;
}

.all_plans p {
  font-size: 18px;
  color: #737272;
}
/* be positive section design */
.positive {
  padding: 85px 0;
}
.be_positive {
  height: 283px;
  background-image: linear-gradient(
      to left,
      rgba(105, 70, 250, -1.48),
      rgba(9, 19, 250, 0.73)
    ),
    url("./images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.watch-title {
  padding: 70px 530px 25px 65px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #fff;
}
.common {
  margin-left: 70px;
}
/* footer area style */
footer {
    background-color: #000;
    padding: 70px 0;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    max-width: 1072px;
    margin: auto;
    gap: 421px;
    color: #fff;
}

.future h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.future p {
    margin-bottom: 15px;
}
.future img {
    margin-right: 20px;
}
.subscribe h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
input[type="email"] {
    width: 100%;
    padding: 21px;
    height: 5px;
    width: 230px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #000;
    margin-bottom: 15px;
}
